<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Users>
    <User>
      <Name>admin</Name>
      <Password>admin</Password>
      <Role>admin</Role>
    </User>
  </Users>
</SiteSecurityConfig>