<?xml version="1.0" encoding="utf-8" ?>
<!--
//= - - - - - - -
// Copyright 2003, Chris Anderson
// 
//   Provided as is, with no warrenty, etc.
//   License is granted to use, copy, modify, 
//   with or without credit to me, just don't
//   blame me if it doesn't work.
//= - - - - - - -
-->
<SiteConfig>
    <Title>blogx sample</Title>
    <Contact>youremail@nospam.yourserver.com</Contact>
    <Root>http://localhost/weblogx</Root>
    <Copyright>Copyright 2003 YourName</Copyright>
    <NotifyWebLogsDotCom>false</NotifyWebLogsDotCom>
    <ObfuscateEmail>true</ObfuscateEmail>
    <AllowComments>true</AllowComments>
    <LinksInComments>false</LinksInComments>
    <CommentSpamGuard>false</CommentSpamGuard>
    <EntryTitleAsLink>true</EntryTitleAsLink>
    <RssDayCount>10</RssDayCount>
    <RssEntryCount>50</RssEntryCount>
    <ContentDir>content/</ContentDir>
    <LogDir>logs/</LogDir>
</SiteConfig>
